:root {
    --cor-de-fundo: #5a5a5a;
    --cor-texto: #ffffff;
    --botao-principal: #2b00a1;
    --texto-botao: #fff;
    --texto-aviso: #8a8a8a;

}

body{
    background-color: var(--cor-de-fundo);
    font-family: sans-serif;


}

*{
    margin: 0;
    

}

.conteiner{
    background-color: var(--cor-de-fundo);
    background-image: url(https://site-suplementos1231234.vercel.app/saude-alinhada.cecf688.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: grid;
    grid-template-columns: 50%;
    text-align: center;
    color: var(--cor-texto);
}

.textoprimario{
    font-size: 30px;
    margin: 15vh;

}

.conteinerbotoes a {
    display: block;
    margin-bottom: 10px; /* Espaço entre os botões */
    width: 200px; /* largura dos botões */
    padding: 10px; /* espaço interno nos botões */
    text-align: center; /* centraliza o texto dentro do botão */
    text-decoration: none; /* remove sublinhado do link */
    color: #fff; /* cor do texto */
    border-radius: 5px; /* bordas arredondadas */
}

.botaoprincipal {
    background-color: #4CAF50; /* cor de fundo do botão principal */
}

.botaosecundario {
    background-color: #008CBA; /* cor de fundo do botão secundário */
}

.conteinerbotoes a:hover {
    opacity: 0.8; /* reduz a opacidade quando o mouse passa por cima */
}

.conteiner2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em 20px;
    color: var(--cor-texto);
    
}

.coqueteleira {
    width: 80%;

}

.direita {
    text-align: center;

}

.titulo2{
    font-size: 40px;

}

.texto2 {
    font-size: 30px;

}

.creatina {
    width: 80%;

}

.conteiner3 {
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--cor-texto);

}
.esquerda2 {
    margin: 15em;

}

.texto3{
    font-size: 30px;
    text-align: center;

}

.imagem3{
    width: 80%;

}

.dispositivos{
    text-align: center;
    font-size: 20px;
    color: var(--cor-texto);

}

.lista{
    display: flex;
    justify-content: center;
    text-align: center;
}

.listalink{
    list-style-type: none;

}

.rodape{
    text-align: center;
    margin: 5em;
    font-style: none;

}

.rodapelista{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.rodapelink{
    text-align: justify;
    margin: 1em;
    color: var(--cor-texto);
    font-style: none;
}

.logo{
    margin: 2em;

}

.rodapelink :hover{
    color: var(--botao-principal);

}