:root {
    --cor-de-fundo: #ffffff;
    --cor-texto: #000;
    --botao-principal: #2b00a1;
    --texto-botao: #fff;
    --texto-aviso: #8a8a8a;
    --fundo-2: #8a8a8a;

}

body{
    background-color: var(--cor-de-fundo);
    font-family: sans-serif;


}

*{
    margin: 0;
    

}

.conteiner{
    background-image: url(https://site-suplementos1231234.vercel.app/saude-alinhada.cecf688.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: grid;
    grid-template-columns: 50%;
    text-align: center;
}

.textoprimario{
    font-size: 30px;
    margin: 15vh;

}

.conteinerbotoes {
    margin: 0 1em;

}

.botaoprincipal {
    background-color: var(--botao-principal);
    color: var(--texto-botao);
    font-size: 25px;
    padding: 1em;
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;

}

.botaosecundario{
    background-color: transparent;
    color: var(--cor-texto);
    padding: 1em;
    border: solid 2px black;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 20px;
    
}

.aviso {
    color: var(--texto-aviso);
    font-size: 20px;
    margin-bottom: 20px;
}

.conteiner2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
    
}

.coqueteleira {
    width: 80%;

}

.direita {
    text-align: center;
    margin-bottom: 2em;

}

.titulo2{
    font-size: 40px;

}

.texto2 {
    font-size: 30px;

}